@media (max-width: 1680px) {
    .header-top {
        gap: 65px;
    }    
    .logo {
        gap: 18px;
    }
    .logo__img {
        max-width: 120px;
    }
    .logo__text {
        font-size: 38px;
        max-width: 200px;
    }
    .title {
        font-size: 100px;
    }
    .offer {
        height: 800px;
        background-position: center;
    }
    .offer__info {
        left: 15%;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 60px;
    }

    .slider {
        height: 900px;
    }
    .slider__item {
        height: 900px;
        width: 900px;
    }
    .slider__title {
        font-size: 30px;
    }
    .slider__item_right {
        left: 980px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 1880px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 1880px);
    }

    .promo {
        margin-bottom: 140px;
    }
    .promo__title {
        font-size: 420px;
    }
    .promo__info {
        font-size: 150px;
    }
    .promo__info:after {
        bottom: -5px;
    }


}
@media (max-width: 1440px) {
    .slider {
        height: 800px;
    }
    .slider__item {
        height: 800px;
        width: 800px;
    }
    .slider__title {
        font-size: 26px;
    }
    .slider__item_right {
        left: 880px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 1680px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 1680px);
    }
    .slider__img-head {
        width: 84%;
    }
    .slider__img-jaw {
        width: 60%;
    }

    .syringes {
        height: 55vw;
        width: 100vw;
    }
    .syringes__item {
        height: 55vw;
    }

    .breath {
        height: 600px;
    }
    .breath__man {
        width: 340px;
    }
    .breath__jaw {
        width: 400px;
    }
    .breath__item_1 {
        width: 324px;
        top: 146px;
        right: 200px;
    }
    .breath__item_2 {
        width: 266px;
        top: 195px;
        right: 300px;
    }
    .breath__item_3 {
        width: 266px;
        top: 240px;
        right: 365px;
    }
    .breath__item_4 {
        width: 266px;
        top: 270px;
        right: 414px;
    }
    .smile {
        padding: 200px 0;
    }
    .smile__img {
        width: 500px;
    }

    .dental-instruments {
        height: 600px;
    }
    .dental-instruments__teeth {
        width: 300px;;
        height: 300px;
    }
    .dental-instruments__head {
        width: 400px;
        height: 600px;
    }
    .dental-instruments__teeth-img {
        width: 150px;
        top: -350px;
        left: 0;
        animation: instrument-teeth 4s infinite linear;
    }
    .dental-instruments__head-img {
        width: 200px;
        top: 400px;
        right: 310px;
        animation: instrument-head-mob 5s infinite linear;
    }
    .footer {
        height: 600px;
    }
    .footer__teeth {
        width: 105px;
        height: 155px;
    }
}
@media (max-width: 1280px) {
    .subtitle {
        font-size: 70px;
    }
    .logo__img {
        max-width: 80px;
    }
    .logo__text {
        font-size: 20px;
        max-width: 100px;
    }
    .title {
        font-size: 90px;
    }
    .offer {
        height: 600px;
    }
    .offer__info {
        font-size: 40px;
    }

    .promo {
        margin-bottom: 100px;
    }
    .promo__title {
        font-size: 350px;
    }
    .promo__info {
        font-size: 120px;
    }

    .action {
        margin-top: 0;
    }
    .btn {
        font-size: 64px;
        line-height: 176px;
        width: 514px;
        height: 174px;
    }

    .breath {
        height: 500px;
    }
    .breath__man {
        left: 300px;
        width: 240px;
    }
    .breath__jaw {
        width: 300px;
    }
    .breath__item_1 {
        width: 243px;
        top: 120px;
        right: 150px;
    }
    .breath__item_2 {
        width: 200px;
        top: 150px;
        right: 210px;
    }
    .breath__item_3 {
        width: 200px;
        top: 180px;
        right: 250px;
    }
    .breath__item_4 {
        width: 200px;
        top: 200px;
        right: 280px;
    }
    .footer__teeth {
        width: auto;
        height: 120px;
    }
}

@media (max-width: 1024px) {
    .subtitle {
        font-size: 60px;
    }
    .header-top {
        gap: 40px;
    }     
    .logo__img {
        max-width: 70px;
    }
    .logo__text {
        font-size: 18px;
    }
    .title {
        font-size: 64px;
    }
    .offer {
        height: 500px;
    }
    .offer__info {
        font-size: 34px;
    }

    .slider {
        height: 642px;
    }
    .slider__item {
        height: 642px;
        width: 642px;
    }
    .slider__title {
        font-size: 16px;
    }
    .slider__item_right {
        left: 667px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 1309px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 1309px);
    }

    .teeth__animation {
        height: 126vw;
    }
    .teeth__item_1 {
        width: 12.4%;
        top: 7.56vw;
        left: 62%;
    }
    .teeth__item_2 {
        width: 8.3%;
        top: 42vw;
        left: 16.5%;
    }
    .teeth__item_3 {
        width: 11.6%;
        top: 34vw;
        left: 72.5%;
    }

    .breath {
        height: 400px;
    }
    .breath__man {
        left: 200px;
        width: 180px;
    }
    .breath__jaw {
        width: 200px;
    }
    .breath__item_1 {
        width: 180px;
        top: 80px;
        right: 100px;
    }
    .breath__item_2 {
        width: 140px;
        top: 110px;
        right: 130px;
    }
    .breath__item_3 {
        width: 140px;
        top: 120px;
        right: 160px;
    }
    .breath__item_4 {
        width: 140px;
        top: 140px;
        right: 180px;
    }

    .dental-instruments {
        height: 400px;
    }
    .dental-instruments__teeth {
        width: 200px;;
        height: 200px;
    }
    .dental-instruments__head {
        width: 270px;
        height: 400px;
    }
    .dental-instruments__teeth-img {
        width: 100px;
        top: -240px;
    }
    .dental-instruments__head-img {
        width: 150px;
        top: 260px;
        right: 216px;
    }

    .footer__teeth {
        width: auto;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 50px;
    }
    .header-top {
        gap: 40px;
    }     
    .logo {
        gap: 4px;
        flex-direction: column;
    }
    .logo__img {
        max-width: 90px;
    }
    .logo__text {
        font-size: 16px;
        max-width: 90px;
        text-align: center;
    }
    .offer {
        height: 400px;
    }
    .offer__info {
        font-size: 32px;
    }

    .slider {
        height: 450px;
    }
    .slider__item {
        height: 450px;
        width: 450px;
        padding: 20px;
    }
    .slider__title {
        font-size: 16px;
    }
    .slider__item_right {
        left: 470px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 920px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 920px);
    }

    .promo {
        margin-bottom: 80px;
    }
    .promo__title {
        font-size: 210px;
    }
    .promo__info {
        font-size: 77px;
    }
    .promo__info:after {
        bottom: -3px;
    }
    .breath__man {
        left: 100px;
    }
    .smile {
        padding: 150px 0;
    }
    .smile__img {
        width: 350px;
    }
    .footer {
        height: 800px;
    }
    .footer__teeth_1 {
        top: 7%;
        left: 10%;
    }
    .footer__teeth_2 {
        top: 30%;
        left: 4%;
    }
    .footer__teeth_3 {
        top: 55%;
        left: 12%;
    }
    .footer__teeth_4 {
        top: 5%;
        left: 45%;
    }
    .footer__teeth_5 {
        top: 34%;
        left: 40%;
    }
    .footer__teeth_6 {
        top: 64%;
        left: 52%;
    }
    .footer__teeth_7 {
        top: 45%;
        left: 70%;
    }
    .footer__teeth_8 {
        top: 20%;
        right: 20%;
    }
    .footer__teeth_9 {
        top: 75%;
        right: 80%;
    }
    .footer__teeth_10 {
        top: 80%;
        right: 50%;
    }
    .footer__teeth_11 {
        top: 70%;
        right: 11%;
    }
}
@media (max-width: 680px) {
    .subtitle {
        font-size: 40px;
        padding: 0 20px;
    }
    .header-top {
        gap: 20px;
    }     
    .logo {
        gap: 4px;
        flex-direction: column;
        align-items: center;
    }
    .logo__img {
        max-width: 90px;
    }
    .logo__text {
        font-size: 14px;
    }
    .title {
        font-size: 40px;
    }
    .offer {
        height: 340px;
    }
    .btn {
        font-size: 50px;
        line-height: 100px;
        width: 80%;
        height: 100px;
    }
    .smile {
        padding: 120px 0;
    }
    .smile__img {
        width: 280px;
    }
    .dental-instruments {
        height: 300px;
    }
    .dental-instruments__teeth {
        width: 150px;;
        height: 150px;
    }
    .dental-instruments__head {
        width: 180px;
        height: 300px;
    }
    .dental-instruments__teeth-img {
        width: 80px;
        top: -180px;
    }
    .dental-instruments__head-img {
        width: 100px;
        top: 200px;
        right: 150px;
    }
}

@media (max-width: 560px) {
    .subtitle {
        font-size: 32px;
    }
    .offer {
        height: 280px;
    }
    .offer__info {
        font-size: 28px;
    }

    .slider {
        height: 350px;
    }
    .slider__item {
        height: 350px;
        width: 350px;
    }
    .slider__title {
        font-size: 16px;
    }
    .slider__item_right {
        left: 370px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 720px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 720px);
    }
    .breath {
        height: 300px;
    }
    .breath__man {
        width: 120px;
    }
    .breath__jaw {
        width: 150px;
    }
    .breath__item_1 {
        width: 120px;
        top: 60px;
        right: 75px;
    }
    .breath__item_2 {
        width: 110px;
        top: 70px;
        right: 92px;
    }
    .breath__item_3 {
        width: 110px;
        top: 86px;
        right: 120px;
    }
    .breath__item_4 {
        width: 110px;
        top: 100px;
        right: 150px;
    }
    .footer {
        height: 600px;
    }
    .footer__teeth {
        height: 70px;
    }
}
@media (max-width: 460px) {
    .header-top {
        gap: 20px;
    }     
    .logo__img {
        max-width: 70px;
    }
    .logo__text {
        font-size: 12px;
        max-width: 70px;
    }
    .title {
        font-size: 32px;
    }
    .offer {
        height: 220px;
    }
    .offer__info {
        font-size: 20px;
    }

    .slider {
        height: 300px;
    }
    .slider__item {
        height: 300px;
        width: 300px;
    }
    .slider__title {
        font-size: 12px;
    }
    .slider__item_right {
        left: 320px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 620px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 620px);
    }

    .promo {
        margin-bottom: 40px;
    }
    .promo__title {
        font-size: 93px;
    }
    .promo__info {
        font-size: 32px;
    }
    .promo__info:after {
        bottom: -1px;
    }

    .btn {
        font-size: 40px;
    }
}
@media (max-width: 400px) {
    .header-top {
        gap: 14px;
    } 
    .logo__img {
        max-width: 40px;
    }
    .title {
        font-size: 24px;
    }
    .offer {
        height: 200px;
    }
    .offer__info {
        font-size: 14px;
    }

    .slider {
        height: 225px;
    }
    .slider__item {
        height: 225px;
        width: 225px;
    }
    .slider__item_right {
        left: 244px;
    }
    .slider__item_right:hover {
        transform: translate(calc(100vw - 469px), 0px);
    }
    .slider__item_right:hover + .slider__item_left {
        left: calc(100vw - 469px);
    }
    .slider__img-head {
        width: 70%;
    }
    .slider__img-jaw {
        top: 60%;
    } 
    .btn {
        font-size: 30px;
        line-height: 60px;
        width: 80%;
        height: 60px;
    }
    .breath {
        height: 270px;
    }
    .breath__man {
        left: 100px;
        width: 80px;
    }
    .breath__jaw {
        width: 100px;
    }
    .breath__item_1 {
        width: 80px;
        top: 40px;
        right: 50px;
    }
    .breath__item_2 {
        width: 80px;
        top: 50px;
        right: 60px;
    }
    .breath__item_3 {
        width: 80px;
        top: 60px;
        right: 80px;
    }
    .breath__item_4 {
        width: 80px;
        top: 60px;
        right: 100px;
    }
    .smile__subtitle {
        font-size: 30px;
    }
  
    .dental-instruments__teeth {
        width: 100px;;
        height: 100px;
    }
    .dental-instruments__head {
        /* width: 200px; */
        height: 220px;
    }
    .dental-instruments__teeth-img {
        width: 70px;
        top: -170px;
    }
    .dental-instruments__head-img {
        width: 80px;
        top: 138px;
        right: 140px;
    }
}