@font-face {
  font-family: "JacquesFrancoisShadow";
  src: url("../fonts/JacquesFrancoisShadow/JacquesFrancoisShadow.eot");
  src: local("JacquesFrancoisShadow"), 
  local("JacquesFrancoisShadow"), 
  url("../fonts/JacquesFrancoisShadow/JacquesFrancoisShadow.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/JacquesFrancoisShadow/JacquesFrancoisShadow.woff2") format("woff2"), 
  url("../fonts/JacquesFrancoisShadow/JacquesFrancoisShadow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter/Inter-Black.eot");
  src: local("Inter-Black"), 
  local("Inter-Black"), 
  url("../fonts/Inter/Inter-Black.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Inter/Inter-Black.woff2") format("woff2"), 
  url("../fonts/Inter/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #DA4C4C;
    overflow-x: hidden;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

div, p, a, span {
  box-sizing: border-box;
}

a {
  transition: all 0.3s ease;
}
.hover-text {
    cursor: default;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hover-text:hover {
    background-image: linear-gradient(to bottom, #7EBE3A, #D9FF00);
}
.subtitle {
    font-size: 90px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/* ------------          01 header            ------------- */

.header {
    padding: 11px 20px;
}
.header-top {
    display: flex;
    gap: 68px;
    align-items: center;
}
.logo {
    display: flex;
    gap: 33px;
}
.logo__text {
    font-family: 'Inter Black';
    font-size: 48px;
    line-height: 0.875;
    max-width: 250px;
    text-transform: uppercase;
}
.title {
    font-size: 128px;
    font-family: "Inter Black";
}
.offer {
    position: relative;
    height: 910px;
    width: 100%;
    background-image: url(../img/offer.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.offer__info {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: "Roboto";
    font-size: 96px;
}

/* ------------          02 services            ------------- */

.slider {
    display: flex;
    width: 100%;
    height: 1081px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider__item {
    height: 1081px;
    width: 1081px;
    padding: 32px 63px;
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
}
.slider__title {
    font-family: "Inter Black";
    font-size: 36px;
}
.slider__item_left {
	left: 0;
}
.slider__item_right {
	left: 1164px;
}
.slider__item_right:hover {
    transform: translate(calc(100vw - 2245px), 0px);
}
.slider__item_right:hover + .slider__item_left {
	left: calc(100vw - 2245px);
}
.slider__img-head {
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 84%;
}
.slider__img-jaw {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ------------          03 promo            ------------- */

.promo {
    display: flex;
    overflow: hidden;
    margin-bottom: 156px;
}
.promo__line {
    text-align: center;
    animation: marquee 20s infinite linear;
    animation-delay: -20s;
}
.promo__title, .promo__info {
    font-family: "Inter Black";
    
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.promo__title {
    font-size: 520px;
}
.promo__info {
    font-size: 190px;
    position: relative;
}
.promo__info:after {
    content: '!!!!!';
    position: absolute;
    bottom: -6px;
    left: 100%;
    font-family: "JacquesFrancoisShadow";
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


/* ------------          04 teeth            ------------- */

.teeth__animation {
    position: relative;
    width: 776px;
    max-width: 100%;
    height: 800px;
    margin: auto;
    overflow: hidden;
}
.teeth__jaw {
    width: 100%;
}
.teeth__item {
    position: absolute;
    
}
.teeth__item_1 {
    top: 66px;
    left: 484px;
    animation: teeth-down 6s infinite linear;
    animation-delay: -6s;
}
.teeth__item_2 {
    top: 339px;
    left: 129px;
    animation: teeth-down2 6s infinite linear;
    animation-delay: -4s;

}
.teeth__item_3 {
    top: 275px;
    left: 561px;
    animation: teeth-down2 6s infinite linear;
    animation-delay: -2s;
}

.teeth__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(0deg,rgba(218, 76, 76, 1) 0%, rgba(218, 76, 76, 0) 100%);
}

/* ------------          05 action            ------------- */

.action {
    text-align: center;
    margin: 127px 0;
}
.btn {
    display: inline-block;
    font-size: 150px;
    line-height: 360px;
    color: #DA4C4C;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #999998, #D7F0BC);
    color: #DA4C4C;
    border-radius: 15px;
    width: 1060px;
    height: 358px;
}
.btn:hover {
    background-image: linear-gradient(to bottom, #7EBE3A, #D9FF00);
    -webkit-box-shadow: 0px 4px 13px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 13px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 13px 8px rgba(0, 0, 0, 0.1);
}
.btn:active {
    background-image: linear-gradient(to bottom, #7EBE3A, #D9FF00);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1) ;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1) ;
}

/* ------------          06 welcome            ------------- */
.welcome {
    text-align: center;
}
.welcome__subtitle {
    animation: subtitle 1s infinite linear;
}
.syringes {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 800px;
}
.syringes__item {
    position: absolute;
    top: 0;
    height: 800px;
    transform-origin: center bottom;
}
.syringes__item_left {
    left: 26%;
    animation: syringe1 4s infinite linear;
}
.syringes__item_right {
    right: 26%;
    animation: syringe2 4s infinite linear;
}


/* ------------          07 breath            ------------- */

.breath {
    margin-top: 60px;
    height: 800px;
    position: relative;
}
.breath__man, .breath__jaw, .breath__item {
    position: absolute;
}
.breath__man {
    bottom: 0;
    left: 400px;
    width: 540px;
    animation: man 4s infinite linear;
}
.breath__jaw {
    right: 0;
    top: 0;
}
.breath__item {
    opacity: 0;
}
.breath__item_1 {
    top: 194px;
    right: 200px;
    animation: breath1 4s infinite linear;
}
.breath__item_2 {
    top: 260px;
    right: 300px;
    animation: breath2 4s infinite linear;
}
.breath__item_3 {
    top: 320px;
    right: 365px;
    animation: breath3 4s infinite linear;
}
.breath__item_4 {
    top: 360px;
    right: 414px;
    animation: breath4 4s infinite linear;
}
/* ------------          08 smile            ------------- */

.smile {
    text-align: center;
    position: relative;
    padding: 270px 0;
}
.smile__subtitle {
    animation: smile-text 6s infinite linear;
    line-height: 120px;
}
.smile__img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: smile 6s infinite linear;
}

/* ------------          09 dental-instruments            ------------- */

.dental-instruments {
    position: relative;
    height: 800px;
    overflow: hidden;
}
.dental-instruments__teeth, 
.dental-instruments__head, 
.dental-instruments__head-img, 
.dental-instruments__teeth-img {
    position: absolute;
}
.dental-instruments__teeth {
    bottom: 0;
    left: 0;
    width: 500px;
    height: 430px;
    background-image: url(../img/teeth.png);
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.dental-instruments__head {
    bottom: 0;
    right: 0;
    width: 580px;
    height: 800px;
    background-image: url(../img/head.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.dental-instruments__teeth-img {
    top: -500px;
    left: 0;
    animation: instrument-teeth 5s infinite linear;
}
.dental-instruments__head-img {
    top: 480px;
    right: 460px;
    animation: instrument-head 7s infinite linear;
}

/* ------------          10 footer            ------------- */

.footer {
    position: relative;
    height: 800px;
    overflow: hidden;
}
.footer__teeth {
    position: absolute;
    width: 140px;
    height: 215px;
}
.footer__teeth_1 {
    top: 7%;
    left: 15%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -25s;
}
.footer__teeth_2 {
    top: 35%;
    left: 4%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -16s;
}
.footer__teeth_3 {
    top: 74%;
    left: 16%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -9s;
}
.footer__teeth_4 {
    top: 9%;
    left: 30%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -13s;
}
.footer__teeth_5 {
    top: 34%;
    left: 40%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -7s;
}
.footer__teeth_6 {
    top: 64%;
    left: 32%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -2s;
}
.footer__teeth_7 {
    top: 75%;
    left: 50%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -19s;
}
.footer__teeth_8 {
    top: 25%;
    right: 35%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -4s;
}
.footer__teeth_9 {
    top: 17%;
    right: 12%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -14s;
}
.footer__teeth_10 {
    top: 45%;
    right: 20%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -26s;
}
.footer__teeth_11 {
    top: 70%;
    right: 11%;
    animation: footer-teeth 26s infinite linear;
    animation-delay: -8s;
}


